/* Color Scheme */
$primary-color: #ffffff;
$secondary-color: #003687;
$white: #fff;
$dark: #0a192f;
$gray: #8892b0;
$light-gray: #ccd6f6;
$blue-gray: #233554;

$background-color: #0a192f;
$background-color-alt: #112240;

$text-color: #ccd6f6;

$heading-font-color: #ffffff;

$link-color: #ffffff;
$link-color-hover: #64ffda;

$button-color: $dark;
$button-background-color: $primary-color;
$button-background-hover: #e6edf3;

$border-color: $blue-gray;

$hr-color: $blue-gray;
$tr-color: #112240;

$syntax-highlighting-background: #011627;
